@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Sans'),
    local('DroidSans'),
    url('fonts/droidsans.woff') format('woff');
}
@font-face {
  font-family: 'guestlist';
  src:url('fonts/guestlist.eot');
  src:url('fonts/guestlist.eot?#iefix')
      format('embedded-opentype'),
    url('fonts/guestlist.svg#guestlist')
      format('svg'),
    url('fonts/guestlist.woff') format('woff'),
    url('fonts/guestlist.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to have a class per icon */
[class^="icon-check"]:before,
[class*=" icon-check"]:before {
  font-family: 'guestlist';
  font-style: normal;
  font-size: .75em;
  speak: none;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}
.icon-check:before {
  content: "\e000";
}
.dropdown-menu .icon-check .name {
  padding-left: 1em;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted #333;
  outline: .1em; auto -webkit-focus-ring-color;
  outline-offset: -1em;
}
a:hover,
a:active {
  outline: 0;
}
body {
  margin: 0;
  font-family: 'Droid Sans', sans-serif;
  line-height: 1.25em;
  color: #999999;
  background-color: #060606;
}
h1 {
  color: #2AB2E4;
}
#main {
  margin-left:2em;
}
a {
  color: #33b5e5;
  text-decoration: none;
}
a:hover {
  color: #ffffff;
  text-decoration: underline;
}
.dropdown-menu {
  list-style: none;
  margin-left: 5em;
}
.dropdown-menu li {
  display: block;
  padding: .25em 20px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color: #999999;
  white-space: nowrap;
}
.dropdown-menu li:hover,
.dropdown-menu li:focus,
.dropdown-submenu:hover {
  text-decoration: none;
  color: #ffffff;
  background-color: #2ab2e4;
  background-image: -moz-linear-gradient(top, #33b5e5, #1dade2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#33b5e5), to(#1dade2));
  background-image: -webkit-linear-gradient(top, #33b5e5, #1dade2);
  background-image: -o-linear-gradient(top, #33b5e5, #1dade2);
  background-image: linear-gradient(to bottom, #33b5e5, #1dade2);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff33b5e5', endColorstr='#ff1dade2', GradientType=0);
}
.dropdown-menu .active,
.dropdown-menu .active:hover {
  color: #999999;
  text-decoration: none;
  outline: 0;
  background-color: #2ab2e4;
  background-image: -moz-linear-gradient(top, #33b5e5, #1dade2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#33b5e5), to(#1dade2));
  background-image: -webkit-linear-gradient(top, #33b5e5, #1dade2);
  background-image: -o-linear-gradient(top, #33b5e5, #1dade2);
  background-image: linear-gradient(to bottom, #33b5e5, #1dade2);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff33b5e5', endColorstr='#ff1dade2', GradientType=0);
}